.editWrapper {
  background: #f6f7f9;
  color: #064e3b;
}

.previewWrapper {
  background: #f6f7f9;
  border-radius: 8px;
}

.previewWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.content {
  flex: 1 1 0;
  min-height: 0;
  display: flex;
  overflow: hidden;
  background: #f6f7f9;
}

.content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}
